Repository kjanat/procclean: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-cli-docs, generate-screenshots

generate-cli-docs:
  name: Generate CLI docs
  entry: ./scripts/generate_cli_docs.py
  language: system
  pass_filenames: false

generate-screenshots:
  name: Generate TUI screenshots
  entry: ./scripts/generate_screenshots.py
  language: system
  pass_filenames: false

fix: restore orphan view semantics, add separate killable view
  AGENTS.md
  docs/assets/screenshots/tui-groups.svg
  docs/assets/screenshots/tui-high-memory.svg
  docs/assets/screenshots/tui-main.svg
  docs/assets/screenshots/tui-orphans.svg
  docs/assets/screenshots/tui-selected.svg
  src/procclean/tui/app.py
Due: generate-screenshots

feat: add favicon.ico fallback for broader browser compatibility
  docs/assets/images/favicon.ico
  docs/favicon.ico
  site/overrides/main.html
Due: none

ci: add workflow to regenerate favicon.ico on SVG changes
  .github/workflows/favicon.yml
Due: none

fix: use ordered_columns instead of columns dict for index access
  src/procclean/tui/app.py
Due: generate-screenshots

refactor: rename row_key to row_data for clarity
  src/procclean/tui/app.py
Due: generate-screenshots

feat: add comprehensive justfile with dev recipes
  justfile
Due: none

feat: add stale process detection for updated executables
  .coderabbit.yaml
  .dprint.jsonc
  .pre-commit-config.yaml
  .vscode/settings.json
  docs/assets/screenshots/tui-groups.svg
  docs/assets/screenshots/tui-high-memory.svg
  docs/assets/screenshots/tui-main.svg
  docs/assets/screenshots/tui-orphans.svg
  docs/assets/screenshots/tui-selected.svg
  justfile
  pyproject.toml
  scripts/generate_cli_docs.py
  src/procclean/core/__init__.py
  src/procclean/core/filters.py
  src/procclean/core/models.py
  src/procclean/core/process.py
  src/procclean/tui/app.py
  uv.lock
Due: generate-screenshots

fix: use git status for change detection, add mkdir for robustness
  .github/workflows/favicon.yml
Due: none

refactor: use create-pull-request instead of direct commit
  .github/workflows/favicon.yml
Due: none

fix: revert to convert command (Ubuntu uses IM6, not IM7)
  .coderabbit.yaml
  .github/labels.yml
  .github/workflows/favicon.yml
Due: none

fix: ensure strict error handling in SVG to ICO conversion
  .github/workflows/favicon.yml
Due: none

Add favicon fallback for browser compatibility (#12)
  .coderabbit.yaml
  .github/labels.yml
  .github/workflows/favicon.yml
  docs/assets/images/favicon.ico
  docs/favicon.ico
  site/overrides/main.html
Due: none

feat: update configuration files and documentation for improved formatting and clarity
  .dprint.jsonc
  .editorconfig
  .markdownlint.json
  .vscode/settings.json
  AGENTS.md
  docs/cli.md
  docs/examples.md
  docs/index.md
  justfile
Due: none

fix: add missing license-files and issues URL in pyproject.toml
  pyproject.toml
Due: none

refactor: improve _restore_cursor robustness and code clarity
  src/procclean/tui/app.py
Due: generate-screenshots

fix: guard row lookup against refresh races, sync coderabbit labels
  .coderabbit.yaml
  AGENTS.md
  src/procclean/tui/app.py
Due: generate-screenshots

refactor: use row key lookup in _restore_cursor
  src/procclean/tui/app.py
Due: generate-screenshots

fix: preserve cursor position on selection, add clickable table headers/rows (#9)
  .coderabbit.yaml
  AGENTS.md
  docs/assets/screenshots/tui-groups.svg
  docs/assets/screenshots/tui-high-memory.svg
  docs/assets/screenshots/tui-main.svg
  docs/assets/screenshots/tui-orphans.svg
  docs/assets/screenshots/tui-selected.svg
  docs/cli.md
  pyproject.toml
  src/procclean/cli/docs.py
  src/procclean/tui/app.py
Due: generate-cli-docs, generate-screenshots

ci: add CI workflow for push/PR to master
  .github/workflows/ci.yml
Due: none

docs: update README with new features, keybindings, and CLI flags
  README.md
Due: none

chore: bump version to 2.0.0
  pyproject.toml
  uv.lock
Due: none

docs: update installation instructions for clarity and simplicity
  .markdownlint.json
  docs/index.md
  docs/installation.md
Due: none

Update justfile
  justfile
Due: none

feat: Rewrite procclean in Rust for better performance
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  justfile
  src/cli/commands.rs
  src/cli/mod.rs
  src/cli/parser.rs
  src/core/actions.rs
  src/core/constants.rs
  src/core/filters.rs
  src/core/memory.rs
  src/core/mod.rs
  src/core/models.rs
  src/core/process.rs
  src/formatters/columns.rs
  src/formatters/mod.rs
  src/formatters/output.rs
  src/lib.rs
  src/main.rs
  src/tui/app.rs
  src/tui/mod.rs
  src/tui/screens.rs
Due: none

feat: Add Python bindings and PyPI support via maturin
  Cargo.lock
  Cargo.toml
  PYPI_README.md
  README.md
  pyproject.toml
  python/procclean/__init__.py
  python/procclean/__init__.pyi
  python/procclean/__main__.py
  python/procclean/py.typed
  src/lib.rs
  src/python.rs
Due: none

chore: Update version to 3.0.0 and modernize workflows
  .github/labels.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  Cargo.lock
  Cargo.toml
  PYPI_README.md
  README.md
  docs/index.md
  docs/installation.md
  pyproject.toml
  python/procclean/__init__.py
  src/cli/parser.rs
Due: none

chore: Improve label descriptions and update CodeRabbit config
  .coderabbit.yaml
  .github/labels.yml
Due: none

chore: update dependencies to latest versions
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): update all dependencies and GitHub Actions
  .github/workflows/labels.yml
  .github/workflows/mkdocs.yml
  .github/workflows/pr-test-comment.yml
  .github/workflows/publish.yml
  ruff.toml
  src/procclean/cli/docs.py
  ty.toml
  uv.lock
Due: generate-cli-docs

fix(docs): skip h2 tokens without a source map instead of defaulting to 0
  src/procclean/cli/docs.py
Due: generate-cli-docs

Update GitHub Actions and linting configurations (#25)
  .github/workflows/labels.yml
  .github/workflows/mkdocs.yml
  .github/workflows/pr-test-comment.yml
  .github/workflows/publish.yml
  ruff.toml
  src/procclean/cli/docs.py
  ty.toml
  uv.lock
Due: generate-cli-docs

chore: bump version to 2.0.1
  pyproject.toml
  uv.lock
Due: none

ci: update and pin workflows
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/favicon.yml
  .github/workflows/labels.yml
  .github/workflows/mkdocs.yml
  .github/workflows/pr-test-comment.yml
  .github/workflows/publish.yml
Due: none

chore: bump ty
  uv.lock
Due: none

Path conditions:
  generate-cli-docs: any of: ^src/procclean/cli/
  generate-screenshots: any of: ^(src/procclean/tui/|scripts/generate_screenshots\.py)
